@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    font-weight: bold;
    font-size: 1.4rem;
    color: black
}

h4 {
    font-weight: bold;
    font-size: .9rem;
    color: black
}

html {
    font-size: 17px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

// Variables
$color-primary: #9356DC ;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;


// @mixin

@mixin buttonHomepage {
    color: white;
    font-size: .9rem;
    border-radius: 200px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
    padding: 15px 20px;
    box-shadow: 1px 5px 8px #b5b5b5;
}

@mixin buttonPages {
    color: white;
    font-size: .9rem;
    border-radius: 200px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
    padding: 15px 50px;
    box-shadow: 1px 5px 8px #b5b5b5;
    margin: 30px 0 50px 0;
}

@mixin operationCards {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    margin: 10px 20px 10px 30px;
    border-radius: 20px;
    position: relative;
    padding: 25px;
    box-shadow: 1px 5px 8px #e1e1e1;
}

@mixin operationCardsNumber {
    background-color: $color-primary;
    color: white;
    padding: 3px 8px 3px 8px;
    border-radius: 500px;
    font-size: 15px;
    position: absolute;
    left: -10px;
}

@mixin restaurantCards {
    height: auto;
    width: auto;
    border-radius: 20px;
    box-shadow: 1px 5px 8px #e1e1e1;
    margin-bottom: 20px;
}

@mixin formulasCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f6f6f6;
    height: auto;
    width: auto;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 1px 5px 8px #e1e1e1;
    font-weight: bolder;
}

// Class

// Badge "Nouveau"
.new {
    position: relative;
}

.new::before {
    content: "Nouveau";
    position: absolute;
    height: 30px;
    width: 80px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 40%);
    font-size: .8rem;
    font-weight: bold;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 15px;
}

// Header
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        font-family: 'Shrikhand', cursive;
        margin: 0;
        color: black;
        font-size: 30px;
        margin: 12px 0 5px 0;
        font-weight: normal;
    }
}

// Localisation
#location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    color: #4d4d4d;
    font-size: 16px;
    padding: 15px 0;
    font-weight: bold;
    &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f3c5";
        margin-right: 16px;
    }
}

// Section 1 Réservation
#reservation {
    background: #f5f4f4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 50px 0;

    h2 {
        text-align: center;
        max-width: 250px;
    }

    p {
        text-align: center;
        margin: 10px 0 30px 0;
        color: #5b5b5b;
    }

    button {
        @include buttonHomepage;
        &:hover{
            transform: scale(1.02);
        }
    }
}

// Section 2 Fonctionnement
#operation {
    padding: 25px 0 50px 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    counter-reset: numbers;

    >div {
        @include operationCards;
        &:hover{
            transform: scale(1.02);
            background-color: #f2e8ff;
            i{
                color: $color-primary;
            }
        }
            &::before{
                counter-increment: numbers;
                content: counter(numbers);
                @include operationCardsNumber
            }

        i{
            color: #7e7e7e;
            margin-right: 20px;
        }

        p:nth-child(2){
            margin: 25px 50px 20px 50px;
        }
    }

    h2 {
        margin: 20px 0;
        padding-left: 20px;
    }
}

// Section 3 Restaurants
#restaurant {
    background: #f5f4f4;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 60px 20px; 
    
    h2{
        margin-bottom: 20px;
    }

    a>div{
        @include restaurantCards;
        div:nth-child(2){
            display: flex;
            justify-content: space-between;
            padding: 10px 30px 10px 12px;
            font-weight: bolder;
            span{
                display: flex;
                font-weight: normal;
                padding: 3px 0 5px 0;
            }
        }
        img{
            height: 170px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }
    } 
}

// Footer
footer{
    background-color: #353535;
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    h3{
        font-family: "Shrikhand", cursive;
        color: white;
        font-size: 1.1rem;
        margin: 12px 0 15px 0;
        font-weight: normal;
    }
    nav{
        li{
            padding-bottom: 5px;
            a{
                color: white;
                font-size: .9rem;
                padding-bottom: 10px;
            }
        }
        li:nth-child(1){
            &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f2e7";
                margin-right: 12px;
                color: white;
                font-size: 15px;
            }
        }
        li:nth-child(2){
            &:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f4c4";
                margin-right: 11px;
                color: white;
                font-size: 11px;
            }
        }  
    } 
    
}

// PAGES RESTAURANTS

// Menu

#banner img{
    display: block;
    position: absolute;
}

#restaurantTitle{
    font-family: 'Shrikhand', cursive;
    margin: 0;
    color: black;
    font-size: 30px;
    font-weight: normal;
}

#menu{
    border-radius: 35px 35px 0 0;
    padding: 0 20px;
    background: #f5f4f4;
    position: relative;
    margin-top: 200px;
    div:nth-child(1){
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    h3{
        position: relative;
        font-weight: 400;
        font-size: .9rem;
        margin: 40px 0 20px 0;
        &::after{
            content: "";
            width: 35px;
            height: 3px;
            background: $color-tertiary;
            position: absolute;
            left: 0px;
            bottom: -8px;
        }  
    }
    div:nth-child(5){
        display: flex;
        justify-content: center;
        button {
            @include buttonPages;
            &:hover{
                transform: scale(1.02);
            }
        }
    }

    // Class
    .formulas>div{
        @include formulasCards;
        span{
            display: flex;
            font-weight: 400;
            font-size: .8rem;
            padding-top: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p:nth-child(2){
            padding-top: 20px;
        }
    }
}

