// Page Loader

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    opacity: 0.8;
    inset: 0;
    z-index: 1;
    animation: loader 1s 2s both;

    &::after {
        content: "";
        height: 50px;
        width: 50px;
        border-left: solid 5px transparent;
        border-top: solid 5px $color-primary;
        border-right: solid 5px $color-secondary;
        border-bottom: solid 5px $color-tertiary;
        border-radius: 50%;
        animation: spin 1s infinite ease-in-out;
    }
}